body{background:#0f172a;color:white;text-align:center;font-family:sans-serif;}
button,a{padding:10px;margin:5px;background:#1e293b;color:#38bdf8;border:none;border-radius:10px;}
input{padding:10px;margin:5px;background:#111827;color:white;border:1px solid #38bdf8;}
